---
description: Neet advisor has 17+ years of expertise in counselling & our career experts have designed various program which effectively bridges the gap between student’s aspirations & their career.
image: /assets/images/logo-footer-tagline-new.png
layout: default
type: home
---

<section id="primary" class="content-full-width">
  <div id="post-94" class="post-94 page type-page status-publish hentry">
    {% include workflow.html %}{% include students.html %} {% include
    offerings.html %} {% include counter.html %} {% include testimonials-2.html
    %} {% include counselling.html %} {% include why.html %} {% include
    videos.html %} {% include attention.html %}{% include faq-home.html %}{% include contact-popup.html %}
  </div>
</section>
