<div class="contact-popup">
  <div class="Click-here">Click Here</div>
  <div class="custom-model-main">
    <div class="custom-model-inner">
      <div class="close-btn">×</div>
      <div class="custom-model-wrap p-4">
        <div class="pop-up-content-wrap">
          <h4 class="text-center m-0 p-0">
            Want to get a medical seat by Smart Counselling? <br />
            <span class="color-brand">"Book free one-to-one session"</span>
          </h4>
          <hr />
          <div class="contact-form-in-popup">
            <form
              action="https://docs.google.com/forms/d/e/1FAIpQLSfsICwVcSu3xBgaBBlk1buk_D3qhyrZjuIkmEm0QZzZZHWcTQ/formResponse"
              id="myForm">
                <div class="columns full">
                  <div class="field">
                    <label for="name">Name<em>*</em></label><span class="wpcf7-form-control-wrap your-name"><input
                        type="text" name="entry.17562434" id="name" value="" size="40" class="" aria-required="true"
                        aria-invalid="false" required /></span>
                    <p class="info-tip"></p>
                  </div>
                </div>

                <div class="columns full">
                  <div class="field">
                    <label for="email"><br />Email<em>*</em></label><span
                      class="wpcf7-form-control-wrap your-email"><input type="email" name="entry.182285571" id="email"
                        value="" size="40" class="" aria-required="true" aria-invalid="false" required /></span>
                    <p class="info-tip"></p>
                  </div>
                </div>

                <div class="columns full">
                  <div class="field">
                    <label for="phone"><br />Phone<em>*</em></label><span class="wpcf7-form-control-wrap tel-717"><input
                        type="tel" name="entry.1460383564" id="phone" value="" size="40" class="" aria-required="true"
                        aria-invalid="false" pattern="[0-9]{10}" title="10 digits only. No area code required"
                        required></span>
                    <p class="info-tip"></p>
                  </div>
                </div>

                <div class="columns full">
                  <div class="field">
                    <label><br />State<em>*</em></label><span class="wpcf7-form-control-wrap your-subject">
                      <select name="entry.1113349965" style="margin-bottom: 15px" required>
                        <option value="">Select state</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Ladakh">Ladakh</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                        <option value="Other">Other</option>
                      </select>
                    </span>
                    <p class="info-tip"></p>
                  </div>
                </div>

                <div class="columns two">
                  <div class="field">
                    <div class="g-recaptcha" data-sitekey="6LcbZRkqAAAAAOAgdKFc64L2SejNGHaCXomhyE8T"
                    data-callback="onCaptchaCompleted"></div>
                    <input id="poupup-submit" name="submit" type="submit" value="Send" disabled class="px-4 mt-3 float-right" />
                    <p class="info-tip"></p>
                  </div>
                </div>
            </form>
            <!-- <form action="https://kwes.io/api/foreign/forms/0XAtDnynQKDj8ho9n5Qj" class="kwes-form" novalidate="novalidate" id="kwes-form" method="POST">
              <div class="columns full">
                <div class="columns full">
                  <div class="field">
                    <label for="name">Name<em>*</em></label><span class="wpcf7-form-control-wrap your-name"><input
                        type="text" name="name" id="name" value="" size="40"
                        class=" wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
                        aria-invalid="false" rules="required" /></span>
                    <p class="info-tip"></p>
                  </div>
                </div>

                <div class="columns full">
                  <div class="field">
                    <label for="email"><br />Email<em>*</em></label><span
                      class="wpcf7-form-control-wrap your-email"><input type="email" name="email" id="email" value=""
                        size="40"
                        class=" wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                        aria-required="true" aria-invalid="false" rules="email|required" /></span>
                    <p class="info-tip"></p>
                  </div>
                </div>

                <div class="columns full">
                  <div class="field">
                    <label for="phone"><br />Phone<em>*</em></label><span class="wpcf7-form-control-wrap tel-717"><input
                        type="tel" name="phone" id="phone" value="" size="40"
                        class=" wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                        aria-required="true" aria-invalid="false" rules="required" /></span>
                    <p class="info-tip"></p>
                  </div>
                </div>
                <div class="columns two">
                  <div class="field">
                    <input id="poupup-submit" name="submit" type="submit" value="Send" class="px-4 mt-3" />
                    <p class="info-tip"></p>
                  </div>
                </div>
              </div>
            </form> -->
          </div>
        </div>
      </div>
    </div>
    <div class="bg-overlay"></div>
  </div>
</div>