<div
  class="mt-5 pb-md-5 dt-sc-title with-right-border-decor without-bottom-space aligncenter"
  data-delay="0"
>
  <h2>Frequently Asked Questions</h2>
</div>

<div class="faq-home">
  {% for item in site.data.faqs %}
  <button class="accordion">{{item.title }}</button>
  <div class="panel">
    {% for faq in item.faqs %}
    <p><b>Q: {{faq.q}}</b></p>
    <p>A: {{faq.a}}</p>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<!--<h2 class="mt-5">Frequently Asked Questions</h2>-->
<!-- <div class="faq-home">
  <button class="accordion">About Result</button>
  <div class="panel">
    <p><b>Q: Is the NEET result and score card one and the same?</b></p>
    <p>
      A: Actually, the NEET 2021 result will be in the form of a score card
      which is the downloadable version of the same.
    </p>
    <p><b>Q: If I misplace the result of NEET, can I download it again?</b></p>
    <p>
      A: Actually, the better thing to do will be to download the NEET 2021
      result and keep a soft copy saved. This way, you can avail it anytime. The
      link to download is generally available way after the admissions are over
      but it’s advisable to be on the safer side and not risk it.
    </p>
    <p>
      <b
        >Q: How long should I keep the NEET result
        {{site.data.keywords.neet-year}} cum score card?</b
      >
    </p>
    <p>
      A: Since the NEET result is the basis of admission to medical courses in
      the country, it is advisable to keep it safe till your admission
      formalities are complete. All you have to do is to keep a soft copy for
      your reference which can be retrived anytime you need it.
    </p>
  </div>
  <button class="accordion">About Entrance Exam</button>
  <div class="panel">
    <p><b>Q: Is NEET 2021 twice a year?</b></p>
    <p>
      A: So far there has been no official announcement which suggests that NEET
      2021 will not be conducted twice. As per the official announcement, NTA
      has revealed that NEET 2021 is scheduled to be conducted on August 13,
      {{site.data.keywords.neet-year}}, only.
    </p>
    <p><b>Q: What will be the mode of entrance exam?</b></p>
    <p>
      A: NEET will be conducted in offline mode i.e., pen and paper mode.
      Candidates will be given NEET OMR sheet {{site.data.keywords.neet-year}}
      to fill the answers which will be evaluated electronically.
    </p>
    <p><b>Q: Who will be the conducting body for NEET 2021?</b></p>
    <p>
      A: Since 2019, National Testing Agency has been entrusted with the
      responsibility to conduct NEET.
    </p>
    <p><b>Q: What is the new change introduced in NEET 2021?</b></p>
    <p>
      A: NEET 2021 will serve as the single entrance test through which all MBBS
      or BDS seats offered in the country will be filled. Candidates will have
      to appear for NEET in order to get admission in AIIMS and JIPMER as well.
      Based on NEET score, candidates will be granted admission in medical and
      dental colleges.
    </p>
    <p>
      <b
        >Q: What will be the pattern of questions in the NEET 2021 after
        scrapping AIIMS and JIPMER?</b
      >
    </p>
    <p>
      A: There is no change in the NEET 2021 question pattern. NEET 2021
      question paper will have total 180 objective type (multiple-choice)
      questions of Physics, Chemistry and Biology. 45 each in Physics &
      Chemistry and 90 questions from Biology (Botany and Zoology).
    </p>
    <p><b>Q: How many seats are there for MBBS in AIIMS?</b></p>
    <p>
      A: There are a total of 1,200+ MBBS seats in the 15 AIIMS spread across
      the length & breadth of our country.
    </p>
    <p><b>Q: How many seats does JIPMER offer for admission?</b></p>
    <p>
      A: JIPMER provides total 200 seats, 150 seats offered in JIPMER,
      Puducherry campus and 50 seats offered in Karaikal campus.
    </p>
  </div>

  <button class="accordion">About Eligibility</button>
  <div class="panel">
    <p>
      <b
        >Q: Does a gap year between Class 11 and 12 will affect the eligibility
        for NEET 2021?</b
      >
    </p>
    <p>
      A: Gap of a year does not affect the eligibility for NEET 2021. Candidates
      with a gap year will be eligible for NEET 2021. The latest information
      brochure of NEET also specifies the same.
    </p>
    <p>
      <b
        >Q: I will complete 25 years of age in March
        {{site.data.keywords.neet-year}}. Will I be eligible for NEET?</b
      >
    </p>
    <p>
      A: Yes, you will be eligible to appear for the NEET exam as the candidates
      who are 25 years or above will now be able to take the exam as the Supreme
      Court has a directive.
    </p>
    <p><b>Q: Are NIOS students eligible for NEET 2021?</b></p>
    <p>
      A: NIOS students are eligible to take NEET 2021 as the High Court of Delhi
      removed the clause which barred such students. However, NTA has stated
      that eligibility depends on the final verdict of the special leave
      petitions filed by MCI.
    </p>
    <p><b>Q: Will NTA consider my Class 12 marks for NEET 2021?</b></p>
    <p>
      A: The minimum required percentage in Class 12 will only make candidates
      eligible to appear for NEET 2021 but does not ensure qualification in the
      exam.
    </p>
    <p>
      <b
        >Q: In Class 11 and 12, I had Biology as an additional subject. Does
        that make me ineligible for NEET 2021?</b
      >
    </p>
    <p>
      A: As per NTA, candidates with Biology as an additional subject are
      eligible for NEET 2021. Although, the final outcome will depend on the
      verdict of the special leave petitions filed by MCI. This clause was
      introduced by MCI for NEET 2018 but was overruled by the Delhi High Court
      which means that the students with Biology/Biotechnology as an additional
      subject in Class 11 and 12 are eligible for NEET 2021.
    </p>
    <p><b>Q: Is there any attempt limit for NEET 2021?</b></p>
    <p>
      A: There is no attempt limit for NEET 2021. Candidates can appear for NEET
      any number of times.
    </p>
  </div>

  <button class="accordion">Application Process</button>
  <div class="panel">
    <p><b>Q: How can I change my address in NEET application form?</b></p>
    <p>
      A: The correction window of NEET 2021 application form can be used to
      change the address. Though the details can be edited using the correction
      window, candidates are advised to fill the application form carefully and
      check the details thoroughly before submitting it.
    </p>
    <p>
      <b>Q: How can I be sure that NTA has received the application fee?</b>
    </p>
    <p>
      A: This confirmation page that opens up after the payment has been
      processed successfully, is a confirmation that the NEET 2021 application
      fee has been received by the NTA. Save and print this page for future
      reference.
    </p>
  </div>
  <button class="accordion">NEET Exam Pattern</button>
  <div class="panel">
    <p>
      <b
        >Q: As AIIMS and JIPMER are merged with NEET, The exam pattern of NEET
        2021 will be changed or not?</b
      >
    </p>
    <p>
      A: There has been no official declaration regarding a change in the
      existing exam pattern of NEET 2021. NTA has released the information
      brochure of NEET 2021 on December 2nd which also states that there is no
      such change is the exam pattern.
    </p>
    <p><b>Q: How much time should be given to each question?</b></p>
    <p>
      A: A total of 180 questions are there in the NEET exam. In order to
      improve time management, one should assign one minute to each question.
    </p>
    <p><b>Q: How to avoid negative marking in the exam?</b></p>
    <p>
      A: Stay clear of guesses. Do not answer a question if you are not sure
      about it. Stay calm before answering the questions. One mark will be
      deducted for every wrong answer.
    </p>
    <p><b>Q: What will be the mode of examination?</b></p>
    <p>A: NEET exam will be in offline mode. (pen and paper mode).</p>
  </div>
  <button class="accordion">Preparation Tips</button>
  <div class="panel">
    <p><b>Q: Is NCERT enough for Biology section?</b></p>
    <p>
      A: NCERT is without a doubt the best source to learn Biology. The text of
      NCERT diagrams & their labelling, table’s & their data should be learnt &
      memorized thoroughly. Students should essentially go through exemplars
      provided by CBSE/NCERT for question practice.
    </p>
    <p><b>Q: How do I crack NEET 2021 by self-study?</b></p>
    <p>
      A: Self-study requires a lot of self-motivation as well. The preparation
      for NEET 2021 can be a tedious task, thus making a pragmatic time-table
      can be very helpful. Keeping a close tab on the mistakes and improvements
      can be beneficial. Making notes after concluding a chapter will allow you
      to revise the important topics and retain it for longer.
    </p>
    <p><b>Q: Is NEET a tough exam?</b></p>
    <p>
      A: NEET is relatively a moderately easy exam, however, the number of
      applicants with respect to the number of seats available is very high
      making it tough to get admission. To get an MBBS seat it is very important
      to secure a good rank in NEET 2021.
    </p>
    <p><b>Q: How many hours should I study for NEET?</b></p>
    <p>
      A: Experts and toppers suggest that every day at least 5-6 hours of
      sincere study can be fruitful in achieving a good score in NEET 2021.
    </p>
    <p>
      <b
        >Q: What should be the daily routine to crack NEET 2021 with good
        rank?</b
      >
    </p>
    <p>
      A: In order to succeed, NEET 2021 aspirants must have a solid strategy
      which will guide you through the preparation journey. A daily routine for
      different people can be different, the key is to find what works best for
      you. Studying early in the day often helps. Regular intervals in the study
      schedule help in the long run. Candidates must study and practice for NEET
      2021 with unwavering focus.
    </p>
    <p><b>Q: Has anyone ever cracked NEET exam without coaching?</b></p>
    <p>
      A: Yes, it is possible to crack NEET without any coaching as it is upto
      the student that how much he/she should prepare for any exam. NEET exam is
      tough but your dedication will lead you towards success.
    </p>
    <p><b>Q: How can I work on my time management for the exam?</b></p>
    <p>
      A: One of the greatest challenges for any entrance exam is the time
      limitation. You have to complete 180 questions with time duration of 3
      hours. Practice NEET sample papers and previous year question paper to
      improve time and accuracy.
    </p>
    <p><b>Q: What are the best books for NEET 2021?</b></p>
    <p>
      A: The most important element to prepare for any exam is good study
      material. Following the right NEET study material is very important to
      prepare for the examination. NCERT are the best NEET books to prepare for
      the exam. Aspirants can consult NEET teachers and toppers or read their
      interviews and check which books they had referred. Here are some NEET
      Preparation books which aspirants can follow while preparing for NEET
      2021.
    </p>
    <p>
      A: The most important element to prepare for any exam is good study
      material. Following the right NEET study material is very important to
      prepare for the examination. NCERT are the best NEET books to prepare for
      the exam. Aspirants can consult NEET teachers and toppers or read their
      interviews and check which books they had referred. Here are some NEET
      Preparation books which aspirants can follow while preparing for NEET
      2021.
    </p>
    <table>
      <thead>
        <tr>
          <th style="text-align: left">Physics</th>
          <th style="text-align: left">Chemistry</th>
          <th style="text-align: left">Biology</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left">
            Problems in General Physics by I.E. Irodov
          </td>
          <td style="text-align: left">
            Modern Approach to Chemical Calculations – R. C. Mukherjee
          </td>
          <td style="text-align: left">
            Objective NCERT at Your Fingertips for NEET
          </td>
        </tr>
        <tr>
          <td style="text-align: left">
            The Feynman Lectures on Physics Vol. II &amp; Vol. II
          </td>
          <td style="text-align: left">
            Organic Chemistry – Mconcise Inorganic Chemistry – J. D. Leeorrison
            and Boyd
          </td>
          <td style="text-align: left">
            Trueman’s Elementary Biology Volume – I and Volume – II
          </td>
        </tr>
        <tr>
          <td style="text-align: left">
            Fundamentals of Physics by Halliday, Resnick &amp; Walker
          </td>
          <td style="text-align: left">Organic Chemistry – Peter Sykes</td>
          <td style="text-align: left">AC Dutta for Botany</td>
        </tr>
        <tr>
          <td style="text-align: left">
            Concepts of Physics Vol I and II by H.C. Verma
          </td>
          <td style="text-align: left">
            Physical Chemistry for Medical Entrance by OP Tandon
          </td>
          <td style="text-align: left">Books by T.L Rayar</td>
        </tr>
        <tr>
          <td style="text-align: left">
            The Feynman Lectures on Physics Vol. I (Mechanics. Radiation and
            Heat)
          </td>
          <td style="text-align: left">Organic Chemistry – M. S. Chauhan</td>
          <td style="text-align: left">11th and 12th NCERT textbooks</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="accordion">About Counselling</button>
  <div class="panel">
    <p>
      <b
        >Q: Which Colleges/ Universities are allotted through MCC/DGHS
        counselling?</b
      >
    </p>
    <p>
      A: DGHS (The Directorate General of Health Services) on behalf of the MCC
      will conduct counselling for the 15% All India Quota and all seats of
      Deemed universities/ Central universities/ seats of ESIC & AFMC
      counselling including Delhi University (DU), VMMC, BHU, AMU, AIIMS &
      JIPMER.
    </p>
    <p><b>Q: What is All India Rank (AIR)?</b></p>
    <p>
      A: AIR places a student depending upon their position scored amongst all
      candidates who have qualified NEET.
    </p>
    <p><b>Q: Who are eligible for ESIC counselling?</b></p>
    <p>
      A: Regarding eligibility for ESI 15% of seats would be filled through All
      India Quota and seats that are unfilled after contribution to state quota
      would be set aside for candidates who are wards of Insured persons of ESI.
    </p>
    <p><b>Q: What is free exit for 1st round mean?</b></p>
    <p>
      A: Free exit for 1st round means if a candidate allotted a seat in 1st
      round and even if a candidate does not report/join the allotted college he
      would not be penalized (security deposit will not be forfeited) and will
      be eligible for subsequent rounds.
    </p>
    <p>
      <b
        >Q: Is it necessary to join allotted Medical/Dental College of Round 1
        to get chance to participate in Round 2?</b
      >
    </p>
    <p>
      A: No candidates need not report or join the allotted college of round 1
      since there is free exit. However, if they want to hold the Round 1 seat
      they can join the college of Round 1 and give up gradation willingness for
      Round 2.
    </p>
    <p>
      <b
        >Q: Is there any restriction to the number of choices of institution and
        course (MBBS or BDS) during choice filling?</b
      >
    </p>
    <p>
      A: There is no restriction, and the candidate is free to select as many
      choices from available options. But make sure to enter the choices in the
      order of preference.
    </p>
    <p>
      <b
        >Q: If I mistakenly opt for Deemed Universities seats instead of All
        India Quota (AIQ), can it be corrected?</b
      >
    </p>
    <p>
      A: The candidate can fix the problem using the reset initialization option
      provided at registration page. But note that the facility can be used only
      once.
    </p>
    <p><b>Q: Is there any medical college which admits only Girls.</b></p>
    <p>
      A: Yes, at present there are three medical colleges exclusively for Girls,
      namely Lady Hardinge Medical College Delhi, BPS Govt. Medical College,
      Sonepat and SVIMS, Sri Padmavati College for Women Tirupati.
    </p>
    <p>
      <b
        >Q: What does exit with forfeiture mean in 2 nd round of counselling?</b
      >
    </p>
    <p>
      A: Exit with forfeiture means if a candidate allotted a seat in 2 nd round
      of counselling and does not want to join the allotted seat he can still
      exit with forfeiture (losing security amount deposited) and once candidate
      joined the allotted seat would not be eligible for resigning/surrender of
      joined seat.
    </p>
    <p>
      <b
        >Q: After I join second round of counselling of 15% AIQ can I leave/
        resign to join state Quota/private college seat?</b
      >
    </p>
    <p>
      A: Once you join second round seat from 15% All India Quota, you will not
      be allowed to vacate from allotted 2nd round seat as per direction by
      Hon’ble supreme court in WP(C) (267/2017) dated 09/05/2017. However if you
      are allotted a seat in second round in AIQ/ Deemed you can exit with
      forfeiture of security amount.
    </p>
    <p><b>Q: Who is the Financial Custodian?</b></p>
    <p>
      A: HLL Life care Ltd, a Govt. of India Undertaking under Ministry of
      Health and Family Welfare is the Financial Custodian. They will, on behalf
      of MCC, collect non-refundable Registration Fees and refundable security
      amount from the candidates and refund the security amount, on the advice
      of MCC, to the candidates.
    </p>
    <p>
      <b
        >Q: Can a candidate participate in second round without submitting fresh
        choices (based on choices submitted before round-1)?</b
      >
    </p>
    <p>
      A: Fresh choice submission by eligible candidates is necessary for
      consideration for seat allotment during round-2. If candidate does not
      submit fresh choice(s) during choice filling period, the candidate will
      not be considered for allotment of seat during Round-2 and will retain the
      already allotted (joined) seat, if any.
    </p>
    <p>
      <b
        >Q: In case I have Birth Certificate / Caste Certificate/ other
        certificate(s) in regional language, will it be acceptable at the time
        of reporting?</b
      >
    </p>
    <p>
      A: Certificates issued by the competent authority on standard format,
      should be in English or Hindi language. Please remember that some of the
      states insist for certificate in English language only. Candidates are
      advised to carry certified (attested) Copy of English version of the
      original certificate, in case certificate issued is in other than English
      language, along with original certificate.
    </p>
    <p>
      <b
        >Q: Whether Up-gradation is allowed from 2nd round counselling of
        Deemed/ Central Universities to Mop-up Round counselling of DGHS for
        Central / Deemed Universities?</b
      >
    </p>
    <p>
      A: No, Up-gradation is not allowed once a candidate joins a seat allotted
      in Round II of Deemed/ Central Universities and the candidate will not be
      allowed to vacate the seat. For Deemed/ Central Universities the candidate
      will not be allowed in any further counselling including Stray Vacancy
      Round of Deemed/ Central Universities.
    </p>
    <p><b>Q: What is the eligibility criteria for admission to AFMS?</b></p>
    <p>
      A: Candidates seeking admission to AFMS can register with MCC expressing
      willingness of admission to the institute. The list of such candidates
      will be sent to AFMS, which will conduct offline counselling of such
      candidates. The offline counselling will include physical fitness and
      personality test. The result of the test will be sent back to MCC, who
      will display the allotment result on its website.
    </p>
    <p><b>Q: How much time will I be given to join the allotted college?</b></p>
    <p>
      A: Candidates allotted seats will be required to join the allotted
      college/course within stipulated time. However, candidates are advised to
      join as early as possible and not to wait for last day of joining. In some
      of the colleges/ universities, 2-3 days time is required to complete
      admission formalities. Therefore, candidates are advised to contact
      allotted college immediately after declaration of result of counselling
      allotment process, to know the details. If candidate fails to join the
      allotted Medical/Dental College within stipulated time, then the allotted
      seat will be cancelled.
    </p>
    <p><b>Q: Who are eligible for 2nd round of allotment?</b></p>
    <p>
      A: Candidates eligible for seat allotment in 2nd round would be from one
      of the following groups:
    </p>
    <p>
      <b>Group–I:</b> Registered candidates who did not get any seat allotment
      in the 1st round.
    </p>
    <p>
      <b>Group-II:</b> Registered candidates who have secured seat under
      reserved quota & whose 1st round of allotted seat got cancelled during the
      document verification on reporting for admission will be considered for
      allotment of seat in the next round of seat allotment, with changed
      Category, subject to availability of seat in respective category.
    </p>
    <p>
      <b>Group–III:</b> Candidates who have reported at allotted institute
      during 1st round of allotment and submitted willingness for second round
      up-gradation as Yes.
    </p>
    <p>
      <b>Group-IV:</b> Candidates who have been allotted a seat but Not Joined.
    </p>
    <p>
      <b>Group-V:</b> Candidates who have resigned from the allotted seat of
      first round at college.
    </p>
  </div>
</div> -->
