<footer id="footer" class="pt-3 pt-md-5">
  <div class="container">
    <div data-delay="0" class="vc_row wpb_row vc_row-fluid dt-sc-owly-footer">
      <div class="wpb_column vc_column_container vc_col-sm-12" data-delay="0">
        <div class="vc_column-inner">
          <div class="wpb_wrapper pl-2">
            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-no-padding">
              <div
                class="wpb_column vc_column_container vc_col-sm-3 mobile-center"
              >
                <div class="vc_column-inner vc_custom_1574417845589">
                  <div class="wpb_wrapper pl-2">
                    <div class="dt-sc-empty-space"></div>
                    <div
                      class="
                        wpb_single_image wpb_content_element
                        vc_align_center vc_custom_1571998176762
                      "
                    >
                      <figure class="wpb_wrapper pl-2 vc_figure">
                        <div
                          class="
                            vc_single_image-wrapper vc_box_border_grey
                            text-left
                          "
                        >
                          <img
                            class="footer-logo"
                            src="/assets/images/logo-footer-tagline-new.png"
                            alt="{{site.data.main.title}}"
                            height="240"
                            width="240"
                            loading="lazy"
                          />
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="wpb_column vc_column_container vc_col-sm-3 mobile-center"
              >
                <div class="vc_column-inner">
                  <div class="wpb_wrapper pl-2">
                    <h3 class="" data-delay="0">Useful Links</h3>
                    <div class="dt-sc-empty-space"></div>
                    <ul
                      class="dt-sc-fancy-list yellow image-bullet"
                      data-delay="0"
                    >
                      <li>
                        <a
                          title="NEET counselling {{site.data.keywords.neet-year}} and Guide"
                          href="/neet-guide/"
                          >Neet Guide</a
                        >
                      </li>
                      <li>
                        <a
                          title="NEET counselling {{site.data.keywords.neet-year}} Gallery"
                          href="/gallery/"
                          >Gallery</a
                        >
                      </li>
                      <li>
                        <a title="About our Neet counselling" href="/about/"
                          >About us</a
                        >
                      </li>
                    </ul>
                    <div class="dt-sc-empty-space"></div>
                  </div>
                </div>
              </div>
              <div
                class="wpb_column vc_column_container vc_col-sm-3 mobile-center"
              >
                <div class="vc_column-inner vc_custom_1574417871485">
                  <div class="wpb_wrapper pl-2">
                    <h3 class="" data-delay="0">Contact</h3>
                    <!-- <div
                      id="1570605841587-454c2cde-c7e8"
                      class="dt-sc-empty-space"
                    ></div> -->
                    <div class="dt-sc-contact-info" data-delay="0">
                      <a title="Contact neet counsellor" href="tel:+91-7669505805"
                        ><i class="fa fa-phone mr-2"></i>+91-991-120-3280</a
                      >
                    </div>
                    <div class="dt-sc-contact-info" data-delay="0">
                      <a
                        title="Contact neet counsellor"
                        href="{{site.data.main.address-delhi}}"
                        ><i class="fa fa-map-marker mr-2"></i>US 1 & 2, Ground Floor, U.S.
                        Complex, Jasola, Delhi-110076</a
                      >
                    </div>
                    <div class="dt-sc-contact-info" data-delay="0">
                      <a
                        title="Contact neet counsellor"
                        href="{{site.data.main.address-mumbai}}"
                        ><i class="fa fa-map-marker mr-2"></i>No. 810, B Wing,
                        Kanakia Wall Street, Andheri East, Mumbai-400093</a
                      >
                    </div>
                    <div
                      id="1570605889063-d72dbc6f-0830"
                      class="dt-sc-empty-space"
                    ></div>
                  </div>
                </div>
              </div>
              <div
                class="wpb_column vc_column_container vc_col-sm-3 mobile-center"
              >
                <div class="vc_column-inner vc_custom_1574417885893 pl-5">
                  <div class="wpb_wrapper">
                    <h3 class="" data-delay="0">Follow Us</h3>
                    <div class="dt-sc-empty-space"></div>
                    <ul class="pl-2 social-icons-ul list-style-none">
                      <li
                        class="round_border mr-2 wh-20-20 text-center p-0 m-0"
                      >
                        <a
                          title="NEET counselling {{site.data.keywords.neet-year}} social media page"
                          href="https://www.instagram.com/neetadvisor_com/"
                          ><i class="fa fa-instagram"></i
                        ></a>
                      </li>
                      <li
                        class="round_border mr-2 wh-20-20 text-center p-0 m-0"
                      >
                        <a
                          title="NEET counselling {{site.data.keywords.neet-year}} social media page"
                          href="https://in.linkedin.com/company/neetadvisordotcom"
                          ><i class="fa fa-linkedin-square"></i
                        ></a>
                      </li>
                      <li
                        class="round_border mr-2 wh-20-20 text-center p-0 m-0"
                      >
                        <a
                          title="NEET counselling {{site.data.keywords.neet-year}} social media page"
                          href="https://www.youtube.com/channel/UCiJqbK5EeRtijkCgqwP5e4A/"
                          ><i class="fa fa-youtube-square"></i
                        ></a>
                      </li>
                      <li
                        class="round_border mr-2 wh-20-20 text-center p-0 m-0"
                      >
                        <a
                          title="NEET counselling {{site.data.keywords.neet-year}} social media page"
                          href="https://www.facebook.com/NEETADVISOR"
                          ><i class="fa fa-facebook-square"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <form
                    action="/subscribe-form.php"
                    method="POST"
                    class="wpcf7-form mobile-center"
                    novalidate="novalidate"
                  >
                    <div class="columns full">
                      <div class="columns full">
                        <div class="field">
                          <span class="wpcf7-form-control-wrap your-email"
                            ><input
                              type="email"
                              name="sbemail"
                              id="sbemail"
                              value=""
                              placeholder="Your Email"
                              size="40"
                              class="
                                wpcf7-form-control
                                wpcf7-text
                                wpcf7-email
                                wpcf7-validates-as-required
                                wpcf7-validates-as-email
                              "
                              aria-required="true"
                              aria-invalid="false"
                              required
                          /></span>
                          <p class="info-tip"></p>
                        </div>
                      </div>
                      <div class="columns two">
                        <div class="field">
                          <input
                            name="subscribeForm"
                            type="submit"
                            value="Subscribe"
                            class="px-4 mt-3 sub-btn"
                          />
                          <p class="info-tip"></p>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wpb_column vc_column_container vc_col-sm-12" data-delay="0">
        <div class="vc_column-inner">
          <div class="wpb_wrapper pl-2">
            <div class="dt-sc-empty-space"></div>
            <div class="dt-sc-single-line-dashed-separator"></div>
            <div class="dt-sc-empty-space"></div>
            <div
              class="
                vc_row
                wpb_row
                vc_inner vc_row-fluid
                dt-sc-copyright-section
              "
            >
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper pl-2">
                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper pl-2 text-center">
                        <p style="font-family: Poppins; font-size: 24px; font-weight: 700; letter-spacing: 0.5px;">
                          All Rights Reserved Copyright NEET Advisor ©
                          {{site.data.keywords.neet-year}}
                        </p>
                        <p>
                          <a
                            title="NEET counselling {{site.data.keywords.neet-year}} policy"
                            href="/privacy-policy/"
                            >Privacy Policy</a
                          ><span> | </span
                          ><a
                            title="NEET counselling {{site.data.keywords.neet-year}} terms"
                            href="/terms-refund-policy/"
                            >Terms & Refund Policy</a
                          ><span> | </span
                          ><a
                            title="NEET counselling {{site.data.keywords.neet-year}} sitemap"
                            href="/sitemap.xml"
                            target="_blank"
                            >Sitemap</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
