<header id="header">
  <div class="container">
    <div id="header-56" class="dt-header-tpl header-56">
      <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false"
        class="vc_row wpb_row vc_row-fluid vc_custom_1575631676548 vc_row-has-fill vc_row-o-content-middle vc_row-flex">
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg" data-delay="0">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper"></div>
              </div>
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align: center">
                    <i class="fa fa-phone" style="color: #ffffff;margin-left:1rem"></i><span style="color: #ffffff"
                      style="margin-left:1rem"> +91-991-120-3280</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_row-full-width vc_clearfix"></div>
      <!-- <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
        class="vc_row wpb_row vc_row-fluid dt-sc-skin-highlight dt-sc-owly-header vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg" data-delay="0">
          <div class="vc_column-inner vc_custom_1575712153269">
            <div class="wpb_wrapper">
              <div id="dt-1575631758496-d9036aaf-a97b" class="dt-logo-container logo-align-left" data-delay="0">
                <a title="NEET counselling {{site.data.keywords.neet-year}} website" href="/" rel="home">
                  <img width="96" height="54" src="{{site.data.main.logo}}"
                    alt="NEET 2021 egineering counselling advisor" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="vc_row-full-width vc_clearfix"></div>
      <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
        class="vc_row wpb_row vc_row-fluid vc_custom_1580457070965 vc_row-has-fill vc_row-no-padding">
        <div class="wpb_column vc_column_container vc_col-sm-4 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p style="text-align: center">
                    <i class="fa fa-envelope-o" style="color: white"></i><span>
                      <a title="Neet counsellor email" href="mailto:info@neetadvisor.com" class="__cf_email__"
                        style="color: white">info@neetadvisor.com</a></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <a title="Neet counsellor telephone" href="tel:+91-7669505805">
                    <p style="text-align: center">
                      <i class="fa fa-phone" style="color: #ffffff;margin-left:1rem"></i><span style="color: #ffffff"
                        style="margin-left:1rem"> +91-991-120-3280</span>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_row-full-width vc_clearfix"></div>
      <div id="fixed-header" class="apply-sticky-header">
        <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
          class="vc_row wpb_row vc_row-fluid dt-sc-skin-highlight dt-sc-owly-header vc_row-no-padding nav-neet">
          <div class="wpb_column vc_column_container vc_col-sm-2" data-delay="0">
            <div class="vc_column-inner vc_custom_1580458008506" style="text-align: center">
              <div class="wpb_wrapper">
                <div id="dt-1580457312532-5eeae2f9-281a" class="dt-logo-container logo-align-left" data-delay="0">
                  <a title="Neet counsellor homepage" href="/" rel="home">
                    <img src="{{site.data.main.logo}}" alt="NEET 2022 Advisor egineering counselling advisor" width="96"
                      height="54" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-10" data-delay="0">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <div data-menu="new_menu" id="dt-1580457390742-09000a6b-590e"
                              class="dt-header-menu mega-menu-page-equal right" data-nav-item-divider="none"
                              data-nav-item-highlight="none" data-nav-item-display="simple">
                              <div class="menu-container">
                                <ul id="menu-new_menu" class="dt-primary-nav" data-menu="new_menu">
                                  <li class="close-nav"></li>
                                  <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19713 dt-menu-item-19713 {% if page.url == '/' %} current_page_item {% endif %}">
                                    <a title="NEET counselling {{site.data.keywords.neet-year}} homepage"
                                      href="/">Home</a>
                                  </li>
                                  <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19713 dt-menu-item-19713 {% if page.url == '/about/' %} current_page_item {% endif %}">
                                    <a title="about Neet counselling" href="/about/">About</a>
                                  </li>
                                  <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19713 dt-menu-item-19713 {% if page.url == '/neet-guide/' %} current_page_item {% endif %}">
                                    <a title="NEET counselling {{site.data.keywords.neet-year}} guide"
                                      href="/neet-guide/" class="item-has-icon icon-position-left">NEET Services</a>
                                  </li>
                                  <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19713 dt-menu-item-19713 {% if page.url == '/gallery/' %} current_page_item {% endif %}">
                                    <a title="NEET counselling {{site.data.keywords.neet-year}} gallery"
                                      href="/gallery/">Gallery</a>
                                  </li>
                                  <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-20532 dt-menu-item-20532">
                                    <a title="NEET counselling {{site.data.keywords.neet-year}} services" href="#"
                                      class="item-has-icon icon-position-left">Social Services</a>
                                    <ul class="sub-menu is-hidden">
                                      <li id="menu-item-20936"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20936 dt-menu-item-20936">
                                        <a title="NEET counselling {{site.data.keywords.neet-year}} services"
                                          href="/free-yoga-classes-health-compaign/"
                                          class="item-has-icon icon-position-left">Free Yoga Campaign</a>
                                      </li>
                                      <li id="menu-item-20935"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20935 dt-menu-item-20935">
                                        <a title="NEET counselling {{site.data.keywords.neet-year}} services"
                                          href="/donate-your-books/"
                                          class="item-has-icon icon-position-left">Donate Your Books</a>
                                      </li>
                                      <li id="menu-item-20918"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20918 dt-menu-item-20918">
                                        <a title="NEET counselling {{site.data.keywords.neet-year}} services"
                                          href="/free-career-counselling-seminars/"
                                          class="item-has-icon icon-position-left">Free Seminars</a>
                                      </li>
                                      <li id="menu-item-20937"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20937 dt-menu-item-20937">
                                        <a title="NEET counselling {{site.data.keywords.neet-year}} services"
                                          href="/free-booklet-circulation/"
                                          class="item-has-icon icon-position-left">Free Booklet</a>
                                      </li>
                                    </ul>
                                  </li>

                                  <li id="menu-item-19713"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19713 dt-menu-item-19713 {% if page.url contains '/blog/' %} current_page_item {% endif %}">
                                    <a title="NEET counselling {{site.data.keywords.neet-year}} blog"
                                      href="/blog/">Blogs</a>
                                  </li>

                                  <li id="menu-item-21036"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21036 dt-menu-item-21036 {% if page.url == '/career/' %} current_page_item {% endif %}">
                                    <a title="neet careers counselling" href="/career/"
                                      class="item-has-icon icon-position-left">Career</a>
                                  </li>

                                  <li id="menu-item-19714"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19714 dt-menu-item-19714 {% if page.url == '/contact/' %} current_page_item {% endif %}">
                                    <a title="contact the best neet counsellors" href="/contact/"
                                      class="item-has-icon icon-position-left">Contact</a>
                                  </li>
                                </ul>
                                <div class="sub-menu-overlay"></div>
                              </div>
                            </div>

                            <div id="dt-1580457390742-09000a6b-590e-mobile"
                              class="mobile-nav-container mobile-nav-offcanvas-right" data-menu="new_menu">
                              <div class="menu-trigger menu-trigger-icon" data-menu="new_menu">
                                <i class="fa fa-bars"></i><span>Menu</span>
                              </div>
                              <div class="mobile-menu" data-menu="new_menu"></div>
                              <div class="overlay"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <!-- margin-left: 95%; margin-top: 15%; width: 200px; position: absolute; -->
        <button id="myBtn" style="z-index: 999; display: none; ">Admission Enquiry</button>
        <!-- The Modal -->
        <div id="myModal" class="modal" style="z-index: 999;">
          <!-- Modal content -->
          <div class="modal-content" style="z-index: 999;">
            <span class="close">&times;</span>
            <div class="npf_wgts" data-height="460px" style="margin-left: auto;margin-right: auto;"
              data-w="1e557534bb35d632095a0508faad56f4"></div>
          </div>
        </div>
      </div>


    </div>
  </div>






</header>