<div class="wpb_column vc_column_container vc_col-sm-12" data-delay="0">
  <div class="vc_column-inner vc_custom_1574659148453">
    <div class="wpb_wrapper">
      <div class="vc_empty_space" style="height: 32px">
        <span class="vc_empty_space_inner"></span>
      </div>
      <blockquote class="type2 aligncenter" data-delay="0">
        <q
          >Preparing for NEET is tough, but the competition for seats is even
          tougher!!</q
        >
      </blockquote>
      <div
        class="dt-sc-empty-space vc_hidden-md vc_hidden-sm vc_hidden-xs"
      ></div>
    </div>
  </div>
</div>
