<div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false"
  class="goals students px-3 px-md-5 py-3 py-md-5 vc_row wpb_row vc_row-fluid dt-sc-skin-highlight dt-sc-curvy-top showsections">
  <div class="text-center">
    <h3>Students we counselled, excelled the best in Counselling</h3>
    <h4 class="glorious text-xl font-light">
      Over the 17+ Glorious Years of Excellence, our passion to guide students
      <br />
      has led us across the length and breadth of the country.
    </h4>
    <img src="/assets/images/students-1.webp" alt="NEET advisor students" width="1260" height="540" loading="lazy" />
  </div>
</div>

<div class="vc_row-full-width vc_clearfix"></div>
<style>

</style>