<div
  data-delay="0"
  id="neet"
  data-vc-full-width="true"
  data-vc-full-width-init="false"
  class="py-md-5 vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"
>
  <div class="wpb_column vc_column_container vc_col-sm-12" data-delay="0">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="dt-sc-empty-space"></div>
        <div
          class="pb-md-5 dt-sc-title with-right-border-decor without-bottom-space aligncenter"
          data-delay="0"
        >
          <h2>Our Innovative Offerings</h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  {% include offerings-globe.html %} {% include neet-preperation-quote.html %}
</div>
<div class="vc_row-full-width vc_clearfix"></div>
