<div
  class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5"
  data-delay="0"
>
  <div class="vc_column-inner vc_custom_1574659096508">
    <div class="wpb_wrapper">
      <div class="wpb_text_column wpb_content_element mt-3 mb-2">
        <div class="wpb_wrapper home-h1">
          <h1 style="text-align: left">
            <span style="color: black"> NEET</span>
            <span style="color: #201169">Advisor</span>
          </h1>
        </div>
      </div>
      <div class="vc_empty_space" style="height: 20px">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="wpb_text_column wpb_content_element vc_custom_1571813426185">
        <div class="wpb_wrapper">
          <div class="home-neet-05">
            <p>
              <img
                alt="NEET 2024 advisor counselling"
                width="207"
                height="279"
                src="/assets/images/neet-advisor-man-223x300.webp"
                class="wp-image-19900 alignright"
                loading="eager"
              />
            </p>
          </div>
          <p>
            NEET Advisor is an exclusive platform founded by LeoPride Career
            Solutions where we provide innovative NEET counselling services to
            students aspiring to get into medicine.
          </p>
        </div>
      </div>
      <a
        href="/neet-guide/"
        title="Know more about neet counselling"
        class="dt-sc-button small rounded-border offer-btn"
        data-delay="0"
        style="color: #000000"
      >
        Know More
      </a>
    </div>
  </div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-1" data-delay="0">
  <div class="vc_column-inner">
    <div class="wpb_wrapper"></div>
  </div>
</div>
<div
  class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6"
  data-delay="0"
>
  <div class="vc_column-inner">
    <div class="wpb_wrapper">
      <div class="vc_row wpb_row vc_inner vc_row-fluid dt-sc-circular-icon-set">
        <div
          class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-2 vc_col-md-3"
        >
          <div class="vc_column-inner">
            <div class="wpb_wrapper"></div>
          </div>
        </div>
        <div
          class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-10 vc_col-md-9"
        >
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="dt-sc-icon-box type5 custom-style-2" data-delay="0">
                <div class="icon-wrapper">
                  <img
                    width="512"
                    height="512"
                    alt="NEET 2024 UG advisor counselling"
                    src="/assets/images/team.svg"
                    class="attachment-full"
                    loading="lazy"
                  />
                </div>
                <div class="icon-content">
                  <p style="font-size: 15px"><b>23,00,000+</b></p>
                  <p style="font-size: 15px; margin-top: -15px">
                    <b>NEET UG Aspirants!</b>
                  </p>
                </div>
              </div>
              <div class="dt-sc-icon-box type5 custom-style-2" data-delay="0">
                <div class="icon-wrapper">
                  <img
                    width="512"
                    height="512"
                    src="/wp-content/uploads/2020/01/hat-3.webp"
                    class="attachment-full"
                    alt="NEET 2024 PG advisor counselling"
                    loading="lazy"
                  />
                </div>
                <div class="icon-content">
                  <p style="font-size: 15px"><b>2,28,500+</b></p>
                  <p style="font-size: 15px; margin-top: -15px">
                    <b>NEET PG Aspirants !</b>
                  </p>
                </div>
              </div>
              <div class="dt-sc-icon-box type5 custom-style-2" data-delay="0">
                <div class="icon-wrapper">
                  <img
                    width="512"
                    height="512"
                    alt="NEET 2024 advisor MBBS counselling"
                    src="/assets/images/hospital-1.webp"
                    class="attachment-full"
                    loading="lazy"
                  />
                </div>
                <div class="icon-content">
                  <p style="font-size: 15px"><b>1,17,500+</b></p>
                  <p style="font-size: 15px; margin-top: -15px">
                    <b>MBBS Seats!</b>
                  </p>
                </div>
              </div>
              <div class="dt-sc-icon-box type5 custom-style-2" data-delay="0">
                <div class="icon-wrapper">
                  <img
                    width="512"
                    height="512"
                    src="/wp-content/uploads/2020/01/medication-2.webp"
                    class="attachment-full"
                    alt="NEET 2024 advisor MD counselling"
                    loading="lazy"
                  />
                </div>
                <div class="icon-content">
                  <p style="font-size: 15px"><b>30,700+</b></p>
                  <p style="font-size: 15px; margin-top: -15px">
                    <b>MD Seats !</b>
                  </p>
                </div>
              </div>

              <div
                class="dt-sc-icon-box type5 custom-style-2 last"
                data-delay="0"
              >
                <div class="icon-wrapper">
                  <img
                    width="512"
                    height="512"
                    src="/wp-content/uploads/2020/01/patient-3.webp"
                    class="attachment-full"
                    alt="NEET 2024 MS advisor counselling"
                    loading="lazy"
                  />
                </div>
                <div class="icon-content">
                  <p style="font-size: 15px"><b>15,700+</b></p>
                  <p style="font-size: 15px; margin-top: -15px">
                    <b>MS Seats !</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="dt-sc-empty-space vc_hidden-md vc_hidden-sm vc_hidden-xs"
      ></div>
    </div>
  </div>
</div>
