<div
  class="py-md-5 wpb_animate_when_almost_visible wpb_right-to-left right-to-left wpb_column vc_column_container vc_col-sm-12 vc_hidden-md vc_hidden-sm vc_hidden-xs testimonials-slider"
  data-delay="0"
>
  <div class="vc_column-inner">
    <div class="wpb_wrapper">
      <div class="dt-sc-empty-space"></div>
      <div
        class="pb-md-5 dt-sc-title with-right-border-decor without-bottom-space aligncenter"
        data-delay="0"
      >
        <h2>Testimonials</h2>
        <p>What clients say about us</p>
      </div>
      <div class="dt-sc-empty-space"></div>
      <div
        class="dt-sc-special-testimonial wpb_animate_when_almost_visible wpb_right-to-left right-to-left custom-style"
        data-delay="0"
      >
        <div
          class="dt-sc-special-testimonial-images-holder testimonial-details-nav"
          data-dots="true"
          data-itemstoshow="3"
        >
          <div class="dt-sc-testimonial-image">
            <img
              width="460"
              height="501"
              alt="NEET 2022 engineering advisor counselling student review from neeraj"
              src="/assets/images/neeraj-prasad.jpg"
              class="attachment-full"
            />
            <div class="dt-sc-testimonial-author">
              <cite
                >Neeraj Prasad<small
                  >MBBS Student of Government Medical College</small
                ></cite
              >
            </div>
          </div>
          <div class="dt-sc-testimonial-image">
            <img
              width="460"
              height="501"
              alt="NEET 2022 engineering advisor counselling student review from sarthak"
              src="/assets/images/sarthak-bisht.jpg"
              class="attachment-full"
            />
            <div class="dt-sc-testimonial-author">
              <cite
                >Sarthak Bisht<small
                  >MBBS Student of Government Medical College</small
                ></cite
              >
            </div>
          </div>
          <div class="dt-sc-testimonial-image">
            <img
              width="460"
              height="501"
              alt="NEET 2022 engineering advisor counselling student review from priya"
              src="/assets/images/priya-tiwari.jpg"
              class="attachment-full"
            />
            <div class="dt-sc-testimonial-author">
              <cite
                >Priya Tiwari<small
                  >MBBS Student of Government Medical College</small
                ></cite
              >
            </div>
          </div>
        </div>
        <div
          class="dt-sc-special-testimonial-details-holder testimonial-details-for"
        >
          <div class="dt-sc-testimonial-description">
            &#8221; The entire NEET Advisor Team is extremely helpful and every
            member has been instrumental in my successful admission into one of
            the top most medical college of India. NEET Advisor program is very
            much beneficial for the medical aspirants who are looking for
            admission in to the desired medical college&#8221;.
          </div>
          <div class="dt-sc-testimonial-description">
            &#8221; I was very much confused about the entire counselling
            process. With the help of NEET Advisor the whole thing went
            smoothly. I knew that they were there for me at every step of
            counselling process. I can&#8217;t thank these people enough to make
            me realize my dreams and pursuing my career in the best MBBS college
            of my choice&#8221;.
          </div>
          <div class="dt-sc-testimonial-description">
            &#8221; Thank you for providing me the relevant MBBS admission
            guidance. Smart counselling process helped me with my MBBS
            admission, guided me in the right direction &amp; enabled me to get
            admission in my dream college&#8221;.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-delay="0" class="vc_row wpb_row vc_row-fluid testimonials-slider">
  <div
    class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg"
    data-delay="0"
  >
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="vc_empty_space" style="height: 50px">
          <span class="vc_empty_space_inner"></span>
        </div>
        <div
          class="dt-sc-title with-right-border-decor without-bottom-space aligncenter"
          data-delay="0"
        >
          <h3>Testimonials</h3>
          <p>What clients say about us</p>
        </div>
        <div class="dt-sc-empty-space"></div>
        <div
          class="dt-sc-special-testimonial wpb_animate_when_almost_visible wpb_slideInRight slideInRight custom-style"
          data-delay="0"
        >
          <div
            class="dt-sc-special-testimonial-images-holder testimonial-details-nav"
            data-dots="true"
            data-itemstoshow="1"
          >
            <div class="dt-sc-testimonial-image">
              <img
                width="460"
                height="501"
                alt="NEET 2022 engineering advisor counselling student review from neeraj"
                src="/assets/images/neeraj-prasad.jpg"
                class="attachment-full"
              />
              <div class="dt-sc-testimonial-author">
                <cite
                  >Neeraj Prasad<small
                    >MBBS Student of Government Medical College</small
                  ></cite
                >
              </div>
            </div>
            <div class="dt-sc-testimonial-image">
              <img
                width="460"
                height="501"
                alt="NEET 2022 engineering advisor counselling student review from sarthak"
                src="/assets/images/sarthak-bisht.jpg"
                class="attachment-full"
              />
              <div class="dt-sc-testimonial-author">
                <cite
                  >Sarthak Bisht<small
                    >MBBS Student of Government Medical College</small
                  ></cite
                >
              </div>
            </div>
            <div class="dt-sc-testimonial-image">
              <img
                width="460"
                height="501"
                alt="NEET 2022 engineering advisor counselling student review from priya"
                src="/assets/images/priya-tiwari.jpg"
                class="attachment-full"
              />
              <div class="dt-sc-testimonial-author">
                <cite
                  >Priya Tiwari<small
                    >MBBS Student of Government Medical College</small
                  ></cite
                >
              </div>
            </div>
          </div>
          <div
            class="dt-sc-special-testimonial-details-holder testimonial-details-for"
          >
            <div class="dt-sc-testimonial-description">
              &#8221; The entire NEET Advisor Team is extremely helpful and
              every member has been instrumental in my successful admission into
              one of the top most medical college of India. NEET Advisor program
              is very much beneficial for the medical aspirants who are looking
              for admission in to the desired medical college&#8221;.
            </div>
            <div class="dt-sc-testimonial-description">
              &#8221; I was very much confused about the entire counselling
              process. With the help of NEET Advisor the whole thing went
              smoothly. I knew that they were there for me at every step of
              counselling process. I can&#8217;t thank these people enough to
              make me realize my dreams and pursuing my career in the best MBBS
              college of my choice&#8221;.
            </div>
            <div class="dt-sc-testimonial-description">
              &#8221; Thank you for providing me the relevant MBBS admission
              guidance. Smart counselling process helped me with my MBBS
              admission, guided me in the right direction &amp; enabled me to
              get admission in my dream college&#8221;.
            </div>
          </div>
        </div>
        <div class="vc_empty_space" style="height: 100px">
          <span class="vc_empty_space_inner"></span>
        </div>
      </div>
    </div>
  </div>
</div>
