<div
  data-delay="0"
  data-vc-full-width="true"
  data-vc-full-width-init="false"
  data-vc-stretch-content="true"
  class="py-md-5 vc_row wpb_row vc_row-fluid workflow-section"
>
  <div class="wpb_column vc_column_container vc_col-sm-12" data-delay="0">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div
          class="pb-3 pb-md-5 dt-sc-title with-right-border-decor without-bottom-space aligncenter"
          data-delay="0"
        >
          <h2>Our Course Workflow</h2>
          <p>Shaping, Sprint, Iterations, Release</p>
        </div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="dt-sc-empty-space"
                  id="1574497523500-397e9744-5809"
                ></div>
                <div
                  class="dt-sc-icon-box type2 custom-style aligncenter no-icon"
                  data-delay="0"
                >
                  <div class="icon-content">
                    <h5>1</h5>
                    <h6>Identifying Student's Aspirations</h6>
                    <p>
                      Pooling their expertise and their strengths , our NEET
                      Advisor have set up convenient and accessible platforms
                      which helps in identifying the student&#8217;s
                      aspirations.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="dt-sc-icon-box type2 custom-style reverse aligncenter no-icon"
                  data-delay="0"
                >
                  <div class="icon-content">
                    <h5>2</h5>
                    <h6>Shortlisting of Success</h6>
                    <p>
                      Based on your inputs like NEET exam score, a personalised
                      report will be designed to make sure you get the best
                      medical colleges available.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="dt-sc-empty-space"
                  id="1574497523720-53dba92d-4ffb"
                ></div>
                <div
                  class="dt-sc-icon-box type2 custom-style aligncenter no-icon"
                  data-delay="0"
                >
                  <div class="icon-content">
                    <h5>3</h5>
                    <h6>One to One Counselling Sessions</h6>
                    <p>
                      An intensive one to one session with our NEET Advisor, who
                      will answer your queries about NEET counselling.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="dt-sc-icon-box type2 custom-style reverse aligncenter last no-icon"
                  data-delay="0"
                >
                  <div class="icon-content">
                    <h5>4</h5>
                    <h6>Complete Tracking &amp; Monitoring</h6>
                    <p>
                      At NEET Advisor, we handhold you throughout the entire
                      NEET Counselling process , till you get admission in your
                      desired medical college.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-md vc_hidden-sm vc_hidden-xs"
    data-delay="0"
  >
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="dt-sc-empty-space"></div>
      </div>
    </div>
  </div>
</div>

<div class="vc_row-full-width vc_clearfix"></div>
<div class="vc_row-full-width vc_clearfix"></div>
