---
layout: compress
---

<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}

<body data-rsssl="1" class="home page-template-default page page-id-94 layout-wide page-with-slider no-breadcrumb wpb-js-composer js-comp-ver-6.0.5 vc_responsive
    ">

  <div class="preloader-plus">
    <div class="preloader-content">
      <img class="preloader-custom-img" src="/assets/images/leopride-loader.svg" alt="Neet Advisor preloader" />
    </div>
  </div>
  <div class="wrapper">
    <div class="inner-wrapper">
      <div id="header-wrapper" class="header-top-relative">
        {% include header.html %} {% if page.type == "home" %} {% include
        slider-2.html %}{% endif %}
      </div>
      <div id="main">
        <div class="container">{{content}}</div>
      </div>
      {% include footer.html %}
    </div>
    <div style="position: relative;">
      <a href="tel:+919911203280" aria-label="call me" class="call-me">
        <img src="/assets/images/call.webp" alt="call me">
      </a>
    </div>
  </div>

  <!-- <script type="text/javascript">
    var npf_d = 'https://neetadvisors.in5.nopaperforms.com';
    var npf_c = '5277';
    var npf_m = '1';
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://track.nopaperforms.com/js/track.js";
    document.body.appendChild(s);
  </script> -->

  <!-- Load fontawesome -->
  <script>
    (function () {
      let css = document.createElement("link");
      css.href =
        "/assets/vendors/font-awesome-4.7.0/css/font-awesome.min.css";
      css.rel = "stylesheet";
      css.type = "text/css";
      document.getElementsByTagName("head")[0].appendChild(css);
    })();
  </script>

  <!-- Load fancybox -->
  <!-- <script>
    (function () {
      let css = document.createElement("link");
      css.href = "/assets/vendors/fancybox/jquery.fancybox.min.css";
      css.rel = "stylesheet";
      css.type = "text/css";
      document.getElementsByTagName("head")[0].appendChild(css);
    })();
  </script> -->

  <script src="/assets/js/jQuery.js"></script>

  <!-- homepage geader slider -->
  <script>
    jQuery(document).ready(function ($) {
      setInterval(function () {
        moveRight();
      }, 15000);

      jQuery.event.special.touchstart = {
        setup: function (_, ns, handle) {
          this.addEventListener("touchstart", handle, { passive: !ns.includes("noPreventDefault") });
        }
      };

      jQuery.event.special.touchmove = {
        setup: function (_, ns, handle) {
          this.addEventListener("touchmove", handle, { passive: !ns.includes("noPreventDefault") });
        }
      };

      var slideCount = $("#sliderSimple ul li").length;
      var slideWidth = $("#sliderSimple ul li").width();
      var slideHeight = $("#sliderSimple ul li").height();
      var sliderUlWidth = slideCount * slideWidth;

      $("#sliderSimple").css({ width: slideWidth, height: slideHeight });

      $("#sliderSimple ul").css({
        width: sliderUlWidth,
        marginLeft: -slideWidth,
      });

      $("#sliderSimple ul li:last-child").prependTo("#sliderSimple ul");

      function moveLeft() {
        $("#sliderSimple ul").animate(
          {
            left: +slideWidth,
          },
          300,
          function () {
            $("#sliderSimple ul li:last-child").prependTo("#sliderSimple ul");
            $("#sliderSimple ul").css("left", "");
          }
        );
      }

      function moveRight() {
        $("#sliderSimple ul").animate(
          {
            left: -slideWidth,
          },
          300,
          function () {
            $("#sliderSimple ul li:first-child").appendTo("#sliderSimple ul");
            $("#sliderSimple ul").css("left", "");
          }
        );
      }

      $("a.control_prev").click(function () {
        moveLeft();
      });

      $("a.control_next").click(function () {
        moveRight();
      });
    });
  </script>

  <!-- <script async src="/assets/js/greensock.js"></script> -->

  {% if page.url == '/gallery/' %}
  <script src="/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tabs.min.js"></script>
  <script src="/wp-content/plugins/designthemes-core-features/shortcodes/js/swiper.min.js"></script>
  {% endif %}

  <script src="/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.inview.js"></script>
  <script src="/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.animateNumber.min.js"></script>
  <script src="/wp-content/plugins/designthemes-core-features/shortcodes/js/slick.min.js"></script>
  <script src="/wp-content/plugins/designthemes-core-features/shortcodes/js/shortcodes.js"></script>

  <script src="/wp-content/plugins/designthemes-core-features/shortcodes/js/custom-waypoints.js"></script>
  <script src="/wp-content/themes/owly/framework/js/jquery.ui.totop.min.js"></script>
  <script src="/wp-content/themes/owly/framework/js/jquery.easing.js"></script>

  <script src="/wp-content/themes/owly/framework/js/jquery.downcount.js"></script>
  <script>
    /* <![CDATA[ */
    var dttheme_urls = {
      theme_base_url: "\/wp-content\/themes\/owly",
      framework_base_url: "\/wp-content\/themes\/owly\/framework\/",
      ajaxurl: "\/wp-admin\/admin-ajax.php",
      url: "\/",
      isRTL: "",
      loadingbar: "disable",
      advOptions: "Show Advanced Options",
      wpnonce: "b99846602e",
      enable_ajax_addtocart: "",
    };
      /* ]]> */
  </script>

  <script src="/wp-content/themes/owly/framework/js/jquery.sticky.js"></script>
  <script src="/wp-content/themes/owly/framework/js/jquery.classie.js"></script>
  <script src="/wp-content/themes/owly/framework/js/jquery.placeholder.js"></script>
  <script src="/wp-content/themes/owly/framework/js/jquery.visualNav.min.js"></script>
  <script src="/wp-content/themes/owly/framework/js/ResizeSensor.min.js"></script>
  <script src="/wp-content/themes/owly/framework/js/theia-sticky-sidebar.min.js"></script>
  <!-- <script src="/wp-content/themes/owly/framework/js/matchHeight.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"
    integrity="sha512-/bOVV1DV1AQXcypckRwsR9ThoCj7FqTV2/0Bm79bL3YSyLkVideFLE3MIZkq1u5t28ke1c0n31WYCOrO01dsUg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/wp-content/themes/owly/framework/js/jquery.waypoints.min.js"></script>

  <script src="/wp-content/themes/owly/framework/js/magnific/jquery.magnific-popup.min.js"></script>
  <script src="/wp-content/themes/owly/framework/js/custom.js"></script>
  <script src="/wp-content/plugins/creame-whatsapp-me/public/js/whatsappme.min.js"></script>
  <script src="/wp-content/plugins/designthemes-portfolio-addon/js/jquery.plugins.js"></script>
  <script src="/wp-content/plugins/designthemes-portfolio-addon/js/jquery.fullPage.min.js"></script>
  <script src="/wp-content/plugins/designthemes-portfolio-addon/js/jquery.multiscroll.min.js"></script>
  <script src="/wp-content/plugins/designthemes-portfolio-addon/js/jquery.inview.js"></script>
  <script>
    /* <![CDATA[ */
    var dtportfoliofrontendobject = {
      ajaxurl: "\/wp-admin\/admin-ajax.php",
    };
      /* ]]> */
  </script>
  <script src="/wp-content/plugins/designthemes-portfolio-addon/js/frontend.js"></script>
  <script src="/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js"></script>
  <script src="/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate_bg.min.js"></script>
  <script src="/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/custom.min.js"></script>

  <!-- Script from goals page -->
  <script>
    jQuery(document).ready(function ($) {
      if (
        typeof jQuery(".ult-carousel-3966620905e918db3c2eeb").slick ==
        "function"
      ) {
        $(".ult-carousel-3966620905e918db3c2eeb").slick({
          dots: false,
          autoplaySpeed: 5000,
          speed: 300,
          infinite: true,
          arrows: false,
          slidesToScroll: 1,
          slidesToShow: 2,
          swipe: false,
          draggable: false,
          touchMove: true,
          pauseOnHover: true,
          pauseOnFocus: false,
          responsive: [
            {
              breakpoint: 1026,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
              },
            },
            {
              breakpoint: 1025,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
              },
            },
            {
              breakpoint: 760,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
          ],
          pauseOnDotsHover: true,
          customPaging: function (slider, i) {
            return '<i type="button" style= "color:#333333;" class="ultsl-record" data-role="none"></i>';
          },
        });
      }
    });
  </script>
  <!-- Script from goals section ends -->

  <!-- script for testimonials -->

  <script defer>
    jQuery(document).ready(function ($) {
      if (typeof jQuery(".testimonial-review").slick == "function") {
        $(".testimonial-review").slick({
          autoplay: true,
          dots: true,
          autoplaySpeed: 3000,
          speed: 300,
          infinite: false,
          arrows: false,
          slidesToScroll: 1,
          slidesToShow: 1,
          swipe: true,
          draggable: true,
          touchMove: true,
          pauseOnHover: true,
          pauseOnFocus: false,
          responsive: [
            {
              breakpoint: 1026,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
            {
              breakpoint: 1025,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
            {
              breakpoint: 760,
              settings: {
                dots: true,
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
          ],
          pauseOnDotsHover: true,
          customPaging: function (slider, i) {
            return '<i type="button" style= "color:#333333;" class="ultsl-record" data-role="none"></i>';
          },
        });
      }
    });
  </script>
  <!-- script for testimonials end -->
  <script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
  <script>
    var imgSlider = simpleslider.getSlider({
      container: document.getElementById("video-slider"),
      prop: "left",
      init: -612,
      show: 0,
      end: 612,
      unit: "px",
    });
    document.getElementById("prev").onclick = function () {
      imgSlider.prev();
      imgSlider.pause();
    };
    document.getElementById("next").onclick = function () {
      imgSlider.next();
      imgSlider.pause();
    };
    imgSlider.pause();
  </script>

  {% if page.url == "/about/" %}
  <!-- Script from about page -->
  <script>
    jQuery(document).ready(function ($) {
      if (
        typeof jQuery(".ult-carousel-6316151295e918dafe703a").slick ==
        "function"
      ) {
        $(".ult-carousel-6316151295e918dafe703a").slick({
          dots: false,
          autoplay: true,
          autoplaySpeed: 3000,
          speed: 700,
          infinite: true,
          arrows: false,
          slidesToScroll: 3,
          slidesToShow: 3,
          swipe: true,
          draggable: true,
          touchMove: true,
          pauseOnHover: true,
          pauseOnFocus: false,
          responsive: [
            {
              breakpoint: 1026,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
              },
            },
            {
              breakpoint: 1025,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
            {
              breakpoint: 760,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
          ],
          pauseOnDotsHover: true,
          customPaging: function (slider, i) {
            return '<i type="button" style= "color:#333333;" class="ultsl-record" data-role="none"></i>';
          },
        });
      }
    });
  </script>
  <!-- Script from about page ends -->
  {% endif %} {% if page.url == "/study-abroad/" %}
  <!-- Script from study abroad page -->
  <script>
    jQuery(document).ready(function ($) {
      if (
        typeof jQuery(".ult-carousel-6009475655e91812159e37").slick ==
        "function"
      ) {
        $(".ult-carousel-6009475655e91812159e37").slick({
          dots: false,
          autoplay: true,
          autoplaySpeed: 3000,
          speed: 900,
          infinite: true,
          arrows: false,
          slidesToScroll: 5,
          slidesToShow: 5,
          swipe: true,
          draggable: true,
          touchMove: true,
          pauseOnHover: true,
          pauseOnFocus: false,
          responsive: [
            {
              breakpoint: 1026,
              settings: {
                slidesToShow: 5,
                slidesToScroll: 5,
              },
            },
            {
              breakpoint: 1025,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
            {
              breakpoint: 760,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
          ],
          pauseOnDotsHover: true,
          customPaging: function (slider, i) {
            return '<i type="button" style= "color:#333333;" class="ultsl-record" data-role="none"></i>';
          },
        });
      }
    });
  </script>
  <!-- Script from study abroad page ends -->
  {% endif %} {% if page.url == "/free-yoga-classes-health-compaign/" %}
  <!-- Script from study yoga page -->
  <script>
    jQuery(document).ready(function ($) {
      if (
        typeof jQuery(".ult-carousel-19448064945e917fd63d2a8").slick ==
        "function"
      ) {
        $(".ult-carousel-19448064945e917fd63d2a8").slick({
          dots: false,
          autoplay: true,
          autoplaySpeed: 3000,
          speed: 900,
          infinite: true,
          arrows: false,
          slidesToScroll: 4,
          slidesToShow: 4,
          swipe: true,
          draggable: true,
          touchMove: true,
          pauseOnHover: true,
          pauseOnFocus: false,
          responsive: [
            {
              breakpoint: 1026,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4,
              },
            },
            {
              breakpoint: 1025,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
              },
            },
            {
              breakpoint: 760,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              },
            },
          ],
          pauseOnDotsHover: true,
          customPaging: function (slider, i) {
            return '<i type="button" style= "color:#333333;" class="ultsl-record" data-role="none"></i>';
          },
        });
      }
    });
  </script>
  <!-- Script from study yoga page ends -->
  {% endif %}

  <!-- <script src="/assets/vendors/fancybox/jquery.fancybox.min.js"></script> -->

  {% include whatsapp-chat.html %}
  {% include call.html %}
  {% include contact-popup-script.html %}

  <script>
    (function () {
      document.addEventListener('DOMContentLoaded', function () {
        const newLink = document.createElement('link');
        newLink.href = '/assets/css/main.css';
        newLink.rel = 'stylesheet';
        newLink.as = 'stylesheet';
        document.body.appendChild(newLink);
      });
    })();
  </script>
  <script>
    function onPopupSubmit(token) {
      document.getElementById("poupup-submit").submit();
    }
  </script>
  </script>
  <script src="//instant.page/5.2.0" type="module"
    integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z" defer></script>
  <script src="/assets/js/accordion.js"></script>

  <!-- <script type="text/javascript">var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = "https://widgets.in5.nopaperforms.com/emwgts.js"; document.body.appendChild(s); </script> -->
</body>

</html>